.domain-search-wrap{
  padding: 40px;
  border-radius: 20px;
  margin-top: -100px;
}

.domain-search-form {
  width: calc(100% - 10%);
  margin: 0 auto;
  position: relative;
  height: calc(2.15em + 0.7rem);
  z-index: 9;
}

.domain-search-form input:not([type=submit]) {
  width: 55%;
  height: 100%;
  border: none;
  padding-top: 10px;
  border-bottom: 2px solid $color-primary;

}

.domain-search-form .select-group {
  position: absolute;
  right: 10px;
  height: 100%;
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
}

.select-group select.form-control{
  border: none;
  border-bottom: 2px solid $color-primary;
  width: calc(100% - 35%);
  height: inherit;
  padding: 5px;
}
.select-group button[type=submit]{
  width: 100%;
  margin-left: 5px;
}


.domain-search-list {
  position: relative;
  display: block;
}
.domain-search-list li:not(:last-child) {
  margin-right: 0 !important;
}
.domain-search-list li a {
  display: inline-block;
  padding: 0 6px;
  text-align: center;
  color: inherit;
}
.domain-search-list li a span {
  font-size: 15px;
  line-height: 15px;
  display: block;
  opacity: 0.7;
}
@media (min-width: 320px) and (max-width: 768px){
  .domain-search-wrap{
    padding: 20px;
    border-radius: 10px;
  }

}
@media (min-width: 320px) and (max-width: 575px){
  .domain-search-form{
    width: 100%;
    height: auto;
  }
  .select-group select.form-control{
    height: calc(2.15em + 0.7rem);
  }
  .domain-search-form input:not([type=submit]), .domain-search-form .select-group{
    width: 100%;
    height: calc(2.15em + 0.7rem);
  }
  .domain-search-form .select-group{
    position: relative;
    padding-top: 15px;
    right: auto;
  }
  .domain-list-wrap{
    display: none;
  }
}