//main menu new style

.bg-transparent ul li a:hover, .white-bg.affix ul li a:hover {
  opacity: 1;
}

.bg-transparent.affix {
  background: $color-primary !important;
}
/*header topbar*/

.topbar-text ul li {
  font-size: 84%;
  line-height: 30px;
  color: $body-color;
}

.topbar-text ul li a {
  display: flex;
  align-items: center;
  color: $body-color;
}

.topbar-text ul li a:hover {
  color: $color-secondary;
}

.gradient-bg .topbar-text ul li, .gradient-bg .topbar-text ul li a{
  color: $white;
  opacity: 0.8;
}

.gradient-bg .topbar-text ul li a:hover{
  opacity: 1;
}

.topbar-text ul li span {
  font-size: 84%;
}

/*main header section css*/
.header-main {
  position: relative;
  display: block;
}
.main-header-menu-wrap{
  display: block !important;
  transition: all 0.2s ease-in-out;
  animation-duration: 1s;
  animation-name: slideInU;
}
.main-header-menu-wrap .navbar-toggler.btn:focus{
  outline: none;
  box-shadow: none;
  color: $color-secondary;
}
.main-header-menu-wrap.affix{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
  animation-duration: 1s;
  animation-name: slideInDown;
}
.header-nav {
  padding: 0;
}

@media (min-width: 320px) and (max-width: 767px){
  .main-navbar-nav{
    padding-bottom: 15px;
  }
  .header-nav {
    padding: 0.5rem 0;
  }
}
.sub-menu-nav-link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.8999rem;
  color: $body-color;
}

.main-link-toggle::after {
  display: inline-block;
  font-family: "themify";
  font-size: 50%;
  content: "\e64b";
  margin-left: .4rem;
  transition: 0.3s ease;
  position: relative;
  top: -1px;
}

/*sub menucss*/
.main-sub-menu {
  padding-left: 0;
  list-style: none;
}

.sub-menu-nav-group {
  padding-left: 0;
  list-style: none;
}

.u-header__navbar-link {
  color: #757575;
  font-size: 0.875rem;
  font-weight: 300;
  padding-left: .5rem;
  padding-right: .5rem;
}

.custom-nav-item:hover .custom-nav-link, .custom-nav-item:focus .custom-nav-link {
  color: $color-primary;
}

.header-main .active > .custom-nav-link {
  color: $color-primary;
}

.custom-nav-link {
  font-size: 13px;
  font-family: $font-family-base;
  font-weight: $font-weight-semibold;
  color: #737373;
  position: relative;
}

.bg-transparent .header-nav a.custom-nav-link, .gradient-bg .header-nav a.custom-nav-link {
  color: $white !important;
  opacity: 0.8;
}

.bg-transparent .header-nav a.custom-nav-link:hover, .gradient-bg .header-nav a.custom-nav-link:hover {
  opacity: 1;
}

.headroom--not-top.slideDown .bg-transparent{
  background: $color-primary !important;
}

@media (max-width: 767px){
  .bg-transparent .header-nav #navBar.navbar-collapse, .gradient-bg .header-nav #navBar.navbar-collapse {
    background: linear-gradient(75deg, $color-primary 10%, $color-secondary) !important;
  }
  .bg-transparent .header-nav #navBar.navbar-collapse, .gradient-bg .header-nav #navBar.navbar-collapse{
    padding: 0 15px 15px 15px;
  }
  .bg-transparent .header-nav #navBar.navbar-collapse .navbar-nav .nav-link, .gradient-bg .header-nav #navBar.navbar-collapse .navbar-nav .nav-link{
    padding-right: 1rem;
  }
}

.bg-transparent button.navbar-toggler span{
  color: $white;
}

.sub-link-toggle {
  position: relative;
}

.sub-link-toggle::after {
  display: inline-block;
  font-family: "themify";
  font-size: 60%;
  content: "\e649";
  margin-left: auto;
  margin-right: .04rem;
  transition: 0.3s ease;
}

.main-sub-menu .active > .sub-menu-nav-link {
  color: $color-secondary;
}

.sub-menu-title {
  display: block;
  font-size: 1rem;
  font-weight: $font-weight-semibold;
  margin-bottom: 0.5rem;
  font-family: $headings-font-family;
}

.hs-has-sub-menu {
  position: relative;
}
/*nevbar expend css*/
.navbar-expand {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navbar-expand .main-navbar-nav {
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-expand .main-navbar-nav .header-nav-last-item {
  text-align: right;
  padding-left: 1rem;
  padding-right: 0;
}
.header-nav-last-item .btn{
  padding: 10px 20px;
  font-size: 12px;
}

.navbar-expand .main-navbar-nav .custom-nav-link {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 0.875rem;
  padding-left: 0.875rem;
}

.navbar-expand .main-navbar-nav .sub-menu-nav-link {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

.navbar-expand .main-navbar-nav .sub-menu-nav-group .sub-menu-nav-link {
  padding-left: 0;
}

.navbar-expand .main-navbar-nav .main-sub-menu.hs-sub-menu {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-expand .main-navbar-nav .main-sub-menu .hs-has-sub-menu {
  padding: 0;
}

.navbar-expand .main-navbar-nav .main-sub-menu .hs-has-sub-menu .main-sub-menu {
  margin-top: -1.1875rem;
}

.navbar-expand .u-header__mega-menu-position-right-fix.hs-mega-menu.hs-position-right {
  right: 20%;
}

.navbar-expand .mega-menu-wrap {
  padding: 2.5rem;
  margin-left: 0;
  margin-right: 0;
}

.navbar-expand .u-header__promo {
  border-bottom-right-radius: 0.25rem;
}

.navbar-expand .u-header__promo-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navbar-expand .u-header__promo-card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.navbar-expand .u-header__promo-card-deck .title-with-icon-item:not(:last-child) .title-with-icon-link {
  position: relative;
}

.navbar-expand .u-header__promo-card-deck .title-with-icon-item:not(:last-child) .title-with-icon-link::after {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -1.5rem;
  border-right: 1px solid $border-color;
  height: 100%;
  content: "";
}

.main-sub-menu {
  max-width: 1200px;
}
.menu-item-wrap.p-4{
  padding-left: 35px !important;
}
@media (min-width: 320px) and (max-width: 767px){
  .main-sub-menu{
    height: 220px;
    overflow-y: scroll;
  }
  .menu-titile-icon{
    display: none;
  }
  .hs-mega-menu.hs-position-center{
    transform: none !important;
  }
  .hs-mega-menu.main-sub-menu{
    width: auto !important;
  }
}

.main-sub-menu-wrap{
  max-width: 100vw;
  position: absolute;
  top: 100%;
  font-size: 14px;
  text-align: left;
  left: 50%;
  list-style: none;
}


/*menu responsive css*/
@media (min-width: 768px) {
  .navbar-expand-md .main-navbar-nav .custom-nav-link {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 0.875rem;
    padding-left: 0.875rem;
  }

  .navbar-expand-md .main-navbar-nav .main-sub-menu {
   border-radius: 10px;
    -webkit-box-shadow: 0 12px 20px 0 rgba(23, 28, 33, .16);
    box-shadow: 0 12px 20px 0 rgba(23, 28, 33, .16);
  }

  .navbar-expand-md .hs-has-sub-menu ul.hs-sub-menu > .hs-has-sub-menu ul.hs-sub-menu {
    border-top-right-radius: 10px;
  }

  .navbar-expand-md .main-navbar-nav .main-sub-menu.hs-sub-menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navbar-expand-md .main-navbar-nav .main-sub-menu .hs-has-sub-menu .main-sub-menu {
    margin-top: -1.1875rem;
  }

  .navbar-expand-md .main-navbar-nav .main-sub-menu.hs-sub-menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navbar-expand-md .main-navbar-nav .main-sub-menu .hs-has-sub-menu {
    padding: 0;
  }

  .navbar-expand-md .main-navbar-nav .sub-menu-nav-link {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }

  .navbar-expand-md .main-navbar-nav .header-nav-last-item {
    text-align: right;
    padding-left: 1rem;
    padding-right: 0;
  }
  .navbar-expand-md .mega-menu-wrap {
    padding: 2.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-expand-md .main-navbar-nav .sub-menu-nav-group .sub-menu-nav-link {
    padding-left: 0;
  }
  .navbar-expand-md .u-header__promo {
    border-bottom-right-radius: 0.25rem;
  }

}

.menu-banner-wrap {
  position: relative;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-bottom-left-radius: 0.25rem;
}

.menu-banner-content {
  z-index: 1;
  width: 100%;
  padding: 2rem 3rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.u-header__product-banner {
  background-color: $color-ui-01;
  border-radius: 0 0 10px 10px;
}
.custom-radius-right{
  border-radius: 0 10px 10px 0;
}
.custom-radius-left{
  border-radius: 10px 0 0 10px;
}
.custom-radius-bottom, .u-header__product-banner:before{
  border-radius: 0 0 10px 10px;
}
.u-header__product-banner-content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.u-header__promo {
  background-color: $color-ui-01;
}

.u-header__promo-inner {
  padding: 2rem;
}

.menu-countdown h2 {
  font-size: 25px;
  line-height: 20px;
  margin-bottom: 0;
  opacity: 0.8;
  color: $white;
}

.menu-countdown h6 {
  font-size: 14px;
  line-height: 18px;
}
.offer-countdown-item h2{
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 0;
  color: $white;
}
.offer-countdown-item h6{
  font-size: 16px;
  line-height: 18px;
  opacity: 0.8;
}

.menu-item-icon{
  margin-right: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  flex: 0 0 2.5rem;
  i{
    font-size: 18px;
    color: $white;
  }
}
.title-with-icon-link {
  display: block;
  padding: 18px 15px;
  color: #464646;
}

.title-with-icon-link:hover .u-header__promo-title {
  color: $color-primary;
}
.title-with-icon-link:hover{
  background: $color-ui-01;
  border-radius: 0.375rem;
}
.menu-titile-icon {
  width: 100%;
  max-width: 2.5rem;
  padding: 5px;
}

.product-menu-group li a{
  color: $color-ui-04;
}
.product-menu-group li a:hover{
  color: $color-secondary;
}


.u-header__promo-title {
  display: block;
  font-weight: $font-weight-semibold;
  font-family: $headings-font-family;
  font-size: 0.85rem;
  line-height: 1.3rem;
}

.u-header__promo-text {
  display: block;
  color: $color-ui-04;
}

small, .small {
  font-size: 85%;
  font-weight: 400;
}

.u-header__promo-footer {
  background-color: $color-ui-03;
  border-radius: 0 0 10px 10px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.u-header__promo-footer-ver-divider {
  position: relative;
}

.u-header__promo-footer-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/*responsive menu css*/
@media (max-width: 767.98px) {
  .navbar-expand-md .custom-nav-link, .navbar-expand-md .sub-menu-nav-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar-expand-md .main-link-toggle::after, .navbar-expand-md .sub-link-toggle::after {
    margin-left: auto;
  }

  .navbar-expand-md .hs-mega-menu-opened .custom-nav-link-toggle::after, .navbar-expand-md .hs-sub-menu-opened .custom-nav-link-toggle::after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  .navbar-expand-md .hs-sub-menu-opened > .sub-link-toggle::after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .u-header--bg-transparent .main-navbar-nav {
    padding: 0.875rem 0;
    padding-top: 1rem;
  }

  .navbar-expand-md .sub-menu-title {
    padding-left: 1.5rem;
    margin-bottom: 0;
  }

  .u-header--bg-transparent .main-navbar-nav {
    background-color: $white;
  }

  .navbar-expand-md .sub-menu-nav-group {
    padding-top: .5rem;
    padding-left: 1.5rem;
  }

  .navbar-expand-md .main-sub-menu:not(.u-header__promo) {
    border-left: 2px solid $color-primary;
  }

  .navbar-expand-md .main-sub-menu {
    min-width: 100% !important;
  }

  .navbar-expand-md .main-sub-menu .hs-has-sub-menu{
    padding-left: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-expand-md .main-sub-menu .main-sub-menu, .main-sub-menu .submenu-item {
    padding-left: 1.5rem;
  }

}
.submenu-item a{
  border-left: 2px solid transparent;
  transition: all 0.3s ease-in;
}
.submenu-item a:hover{
  border-color: $color-accent;
}

.hs-mega-menu-opened a.custom-nav-link:before{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 0) rotate(-315deg);
  border-radius: 3px;
  background-color: $white;
}

/*headerroom*/
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-100%);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-100%);
  }
}

@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }

  100% {
    -o-transform: translateY(-100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.headroom {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
  transition: transform 0.3s linear;
  backface-visibility: hidden;
}

.headroom--pinned {
  display: block;
}

.headroom--unpinned {
  display: none;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
@media (min-width: 320px) and (max-width: 992px){
  .navbar-expand-md .main-navbar-nav .custom-nav-link{
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
  .ptb-100 {
    padding: 55px 0;
  }

  .pt-100 {
    padding-top: 55px;
  }

  .pb-100 {
    padding-bottom: 55px;
  }
  .pt-165{
    padding-top: 100px;
  }
}
@media (min-width: 320px) and (max-width: 768px){
  .main-with-padding{
    padding-top: 92px !important;
  }
  .main-without-padding{
    padding-top: 36px !important;
  }
  .main-without-topbar{
    padding-top: 0 !important;
  }
}


