//footer css
footer{
  p{
    font-size: 14px;
  }
  ul{
    li{
      &:not(:hover){
        opacity: $opacity-8;
      }
    }
  }

  ul:not(.list-inline):not(.slides) > li {
    line-height: 30px !important;
  }
  ul:not([class*='menu']) li > a:hover {
    text-decoration: none;
  }

  ul:not([class*='menu']) li > a {
    font-weight: $font-weight-regular;
    font-size: 13px;
    display: block;
    &:hover{
      opacity: $opacity-10;
      color: inherit;
    }
  }

  a{
    font-weight: normal;
    color: $color-ui-03;
  }

}

//foreground color change for background color
.footer-1.gradient-bg{
  p, h6{
    color: $white;
    opacity: $opacity-8;
  }
  ul{
    li{
      a{
        color: $white;
        opacity: $opacity-8;
        &:hover{
          color: $white;
          opacity: $opacity-10;
        }
      }
    }
  }
}

//small text
.small-text{
  font-size: 13px;
  &:not(p){
    opacity: $opacity-10;
  }
}

//footer newsletter
.footer-with-newsletter{
  margin-top: 80px;
  .newsletter-wrap{
    margin-top: -136px;
    margin-bottom: 60px;
  }
}
.newsletter-form{
  .input-newsletter{
    height: 50px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 25px;
  }
  button{
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    height: auto;
    border: none;
    border-radius: 30px;
    background-color: $color-accent;
    display: inline-block;
    color: $white;
    padding-left: 30px;
    padding-right: 30px;
    &:focus{
      outline: none;
    }
  }
}

.terms-policy-wrap{
  ul{
    li{
      a{
        color: $text-color-01;
        &:hover{
          color: initial;
        }
      }
    }
  }
}

//footer copyright
.copyright-text {
  font-size: 13px;
}

.social-list li a {
  padding: 6px 10px;
}

.footer-nav-list li a span {
  font-size: 12px;
  vertical-align: middle;
}

.bottom-sticky-footer {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: auto;
  z-index: 2;
}
.social-nav ul li a{
  color: $white;
  opacity: 0.8;
  transition: all 0.3s ease-in;
}


.tooltip-hover{
  position: relative;
}

.tooltip-hover a{
  display: block;
}

.tooltip-item{
  position: absolute;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
  color: rgb(51, 51, 51);
  font-size: 13px;
  bottom: 90%;
  left: 50%;
  opacity: 0;
  white-space: nowrap;
  visibility: hidden;
  z-index: 999;
  box-shadow: lighten($color-accent, 45%);
  transform: translate3d(-50%, 0px, 0px);
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
.tooltip-item:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 6px solid rgb(255, 255, 255);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.tooltip-hover:hover .tooltip-item{
  opacity: 1;
  visibility: visible;
  bottom: calc(100% + 5px);
}