/*customer section css*/
.single-customer {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column-align: center;
  justify-items: center;
  width: 60%;
  height: auto;
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in,-webkit-transform .5s ease-in;
  margin: 8px auto;
  img{
    max-width: 100%;
    max-height: 100%;
    -webkit-filter: opacity(50%);
    /* Safari 6.0 - 9.0 */
    filter: opacity(90%);
    width: 100%;
  }
  &:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    &.customer-logo{
      -webkit-filter: none;
      filter: none;
      opacity: 1;
    }
  }
}

//our partner section css
.card-bottom-line {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-bottom-line:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: $color-primary;
  transition: width 0.3s ease-in-out;
}

.partner-logo img {
  max-width: 125px;
}

.card-bottom-line:hover:after {
  width: 100%;
}

a.view-details-link {
  font-size: 14px;
  font-weight: $font-weight-medium;
}

a.view-details-link span {
  padding-left: 2px;
  font-size: 11px;
  vertical-align: middle;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

a.view-details-link:hover span {
  transform: translateX(3px);
  margin-left: 6px;
}
