
// custom font and google fonts variable
$font-family-roboto:              "Roboto", sans-serif;
$font-family-montserrat:          "Montserrat", sans-serif;
$font-family-proxima:             'Proxima Nova', sans-serif;
$font-family-open-sans:           "Open Sans", sans-serif;
$font-family-work-sans:           'Work Sans', sans-serif;
$font-family-system:              -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;


// Fonts
$font-size-base:                  0.977rem;
$line-height-base:                1.75;
$font-family-base:                $font-family-roboto;
$headings-font-family:            $font-family-roboto;

$headings-font-weight:            $font-weight-semibold;
$headings-line-height:            1.25;

